<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JustiFY"
        tools:targetApi="31" >

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9JeWCglYKe1bftN48jcJEV5rRRkNqbZg" />

        <activity
            android:name=".Lokasi"
            android:exported="false"/>

        <activity
            android:name=".FaqActivity"
            android:exported="false" />
        <activity
            android:name=".PilihangandaActivity"
            android:exported="false" />
        <activity
            android:name=".KuisActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForumDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ForumAspirasiActivity"
            android:exported="false" />
        <activity
            android:name=".AboutAplikasi"
            android:exported="false" />
        <activity
            android:name=".DetailUU"
            android:exported="false" />
        <activity
            android:name=".UpdateBerita"
            android:exported="false" />
        <activity
            android:name=".UU"
            android:exported="false" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".AspirasiDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TambahAspirasiActivity"
            android:exported="false" />
        <activity
            android:name=".AspirasiActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Berita"
            android:exported="false" />
        <activity
            android:name=".DetailBerita"
            android:exported="false" />
        <activity
            android:name=".TambahBeritaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".RiwayatBerita"
            android:exported="false"/>
        <activity android:name=".DetailRiwayatBerita"
            android:exported="false"/>
    </application>

</manifest>